// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}


.delete-btn{
    -webkit-appearance: none ;
    background-color: transparent ;
    border: none ;
    color: red ;
    position: absolute;
    right: 10px;
}

span.buttons-span{
    position: absolute;
    right: 15px;
    bottom: 5px;
}


span.buttons-span span:first-child{
    margin-right: 10px;
}


span.buttons-span span:first-child a{
    color: green;
}
span.buttons-span span:last-child a{
    color: red ;
}


span.product-header-title{
    color: #0a4929;
    text-decoration: underline;
    font-weight: bold;

}


a.remove-option{
    color: #dd2c38;
}

a.avtivate-image-upload{
   display: block;


}



/*a.avtivate-image-upload:hover{
 
}


.image-card-upload img{
   
}*/

.image-card-upload .card-body i{
    font-size: 6rem;
    color: #7ead48;
}


.image-card-upload a.remove-image-upload{
    font-size: 2rem;
    color: #db3b3f;
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 9999;
    
}

input.image-file-upload{
    opacity: 0;
}